<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/about.css') }}">
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">INICIO</a></li>
            <li><a href="contatos">CONTATO</a></li>
            <li><a href="sobre">SOBRE</a></li>
        </ul>
    </nav>

    <header>
        <h1>Sobre Nós</h1>
    </header>

    <section class="content">
        <h2>Nossa História</h2>
        <p>Somos um grupo de estudantes da UNIVESP do eixo de computação,
            que como proposta do nosso primeiro projeto integrador,
            após algumas conversas percebemos que existem várias atividades gratuitas oferecidas nos polos dos Centros de Educação Unificados – CEU,
            no entanto com uma divulgação de baixo alcance.
            Com isso em mente resolvemos criar esse site para ser mais um canal para levar a mais pessoas da região as atividades disponíveis,
            tanto na área esportiva, como lazer e educação.</p>
    </section>

    <section class="content">
        <h2>Nossa Equipe</h2>
        <p>Conheça nossa fantástica equipe de trabalho:</p>
        <ul>
            <li>Felipe da Silva Faria de Oliveira</li><br>
            <li>Rafael Dias de Santi</li><br>
            <li>Rodrigo Sousa Machado Bitener</li><br>
            <li>Ronald Odair Oliveira Juliao</li><br>
            <li>Wilson Ademar de Arruda</li><br>
        </ul>
    </section>

    <footer>
        <p> Todos os direitos reservados &copy; Projeto Integrador 1 2025</p>
    </footer>
</body>
</html>
